@model string
@{
    ViewData["Title"] = "Загрузка";
}
<h3>Выберите файлы для загрузки</h3>
<form asp-controller="LoadArchive" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input class="form-control-file"
               type="file"
               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
               name="uploadedFile"
               multiple
               onchange="return DisplayLoadingMessage(this);" />
    </div>
</form>
<p class="message">@Model</p>
<p class="load hidden">Loading...</p>

@section Scripts{
    <script type="text/javascript">
        function DisplayLoadingMessage(input) {
            event.preventDefault();
            $(".load").removeClass("hidden");
            $(".message").addClass("hidden");
            input.form.submit();
            $(input).prop("disabled", true);
        }
    </script>
}